* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	width: 500px;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.calculator {
	width: 100%;
	background-color: #eee;
}
